
body, html {
  margin: 0;
}

header {
  position: fixed;
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  top: 0;
}

aside {
  position: fixed;
  width: 190px;
  overflow-y: auto;
  top: 121px;
  bottom: 0;
  padding: 20px;
  background-color: #7d7b7b;
}

main {
  margin-bottom: 90px;
  margin-top: 100px; 
  margin-left: 220px; 
  padding: 30px;
  background-color: black;
  color: white;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
}

#conteudo-exibido {
  display: none; 
   margin-top: 30px;
}
.informacoes-pessoais {
  display: flex;
  padding: 35px;
}

.informacoes-pessoais {
  flex-grow: 1;
}

 .informacoes-pessoais {
    flex-direction: column;
    align-items: center;
  }
  .informacoes-pessoais {
    margin-bottom: 20px;
  }

#sobre {
  margin-top: 20px;
  text-align: right;
}
footer {
  position: fixed;
  text-align: center;
   width: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  bottom: 0;
}
img {
  max-width: 100%; 
}