/*margem para o body e html */
body, html {
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

aside {
  background-color: #7d7b7b;
  width: 190px;
  position: fixed;
  top: 121px;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
}

main {
  margin-top: 100px; 
  margin-left: 220px; 
  padding: 30px;
  background-color: black;
  color: white;
  margin-bottom: 90px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s;
}

#conteudo-exibido {
  margin-top: 20px;
  display: none; 
}
.informacoes-pessoais {
  display: flex;
  padding: 40px;
}

.informacoes-pessoais > div {
  flex-grow: 1;
}

 .informacoes-pessoais {
    flex-direction: column;
    align-items: center;
  }
  .informacoes-pessoais > div {
    margin-bottom: 20px;
  }

#sobre {
  margin-top: 20px;
  text-align: right;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
img {
  max-width: 100%; 
}